.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.right-align {
  justify-content: flex-end;
}

.left-align {
  justify-content: flex-start;
}

p {
  margin: 100 10 25 100;
  padding: 10 10 20px 0; 
}

#mapId {
  height: 100vh;
}

#mindfulness {
  /* float: right; */
  width: 400px;
  /* height: 400px; */
  /* margin: 10; */
  /* padding: 5px */
}

#amoghstory {
  float: right;
  width: 400px;
  height: 400px;
  margin: 10;
  padding: 5px
}

#nutritionguide {
  float: right;
  width: 400px;
  height: 400px;
  margin: 10;
  padding: 5px
}

table {
  font-family: arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}